.about {
  display: flex;
  flex-direction: row;
}

.about__image {
  height: 10rem;
  width: 10rem;
  margin-right: 0;
  border-radius: 50%;
  padding: 1rem;
  align-self: center;
}

.about__text {
  display: flex;
  flex-direction: column;
  padding: 5rem 8rem;
}

@media (max-width: 750px) {
  .about {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .about__text {
    padding: 2rem;
  }
}
