.nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.nav-toggle__checkbox {
  display: none;
}

.nav-toggle__button {
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.nav-toggle__button:hover .nav-toggle__icon::before {
  top: -1rem;
}

.nav-toggle__button:hover .nav-toggle__icon::after {
  top: 1rem;
}

.nav-toggle__checkbox:checked + .nav-toggle__button .nav-toggle__icon {
  background-color: transparent;
}

.nav-toggle__checkbox:checked + .nav-toggle__button .nav-toggle__icon:before {
  top: 0;
  transform: rotate(135deg);
}
.nav-toggle__checkbox:checked + .nav-toggle__button .nav-toggle__icon:after {
  top: 0;
  transform: rotate(-135deg);
}

.nav-toggle__icon,
.nav-toggle__icon:before,
.nav-toggle__icon:after {
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.nav-toggle__icon:before,
.nav-toggle__icon:after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.nav-toggle__icon {
  position: relative;
  margin-top: calc(50% - 1px);
}

.nav-toggle__icon:before {
  top: -0.8rem;
}

.nav-toggle__icon:after {
  top: 0.8rem;
}
