.carousel-item {
  height: 320px;
  width: 400px;
  display: grid;
  flex-shrink: 0;
}

@media (max-width: 465px) {
  .carousel-item {
    width: 100vw;
  }
  .carousel-item__image {
    border-radius: 0px !important;
  }
  .carousel-item__overlay {
    border-radius: 0px !important;
  }
}

.carousel-item__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-row-start: 1;
  grid-column-start: 1;
  border-radius: 16px;
}

.carousel-item__overlay {
  grid-row-start: 1;
  grid-column-start: 1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.carousel-item__overlay p {
  color: white;
}

.carousel-item__overlay a {
  color: white;
}

.carousel-item__overlay h2 {
  padding: 0;
}

.carousel-item:hover > .carousel-item__overlay {
  opacity: 1;
}
