.form {
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 64px;
  row-gap: 1rem;
}

.form input,
.form textarea {
  font-family: inherit;
  width: 60%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form input {
  height: 2rem;
  font-size: 1rem;
}

.form textarea {
  resize: none;
  width: 100%;
  height: 15rem;
  padding-top: 0.5rem;
}

.form button {
  padding: 8px;
  width: 10rem;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: all linear 0.2s;
  font-family: inherit;
  font-weight: bold;
}

.form button:hover {
  transform: scale(1.05);
}
