.navlink {
  color: #47555e;
  text-decoration: none;
}

.navlink:hover {
  text-decoration: underline;
  animation: fadeUnderline 500ms;
}

.navlink--active {
  text-decoration: underline;
}

@keyframes fadeUnderline {
  from {
    text-decoration: none;
  }
  to {
    text-decoration: underline;
  }
}
