.hero {
  display: grid;
}

.hero__image {
  width: 100%;
  height: 456px;
  object-fit: cover;
  opacity: 0.85;
  grid-row-start: 1;
  grid-column-start: 1;
}

.hero__overlay {
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  font-size: 48px;
}

@media (max-width: 765px) {
  .hero__overlay {
    font-size: 32px;
  }
}
