.item {
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
  display: grid;
  height: 100%;
  width: 100%;
}

.item__image {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

.item__overlay {
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
  transition: opacity linear 300ms;
}

.item__overlay a {
  color: white;
}

.item:hover > .item__overlay {
  opacity: 1;
}
