.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #eee;
  align-items: center;
  padding: 16px 0;
}

.navigation__links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin-left: auto;
  margin-right: 112px;
  font-size: 18px;
  transition: 0.5s linear all;
}

.navigation__toggle {
  visibility: hidden;
  margin-left: auto;
  margin-right: 3rem;
  align-self: flex-start;
  z-index: 10;
}

@media (max-width: 600px) {
  .navigation__links {
    visibility: hidden;
    position: fixed;
    top: 0;
    margin-top: 0;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 5;
    opacity: 0;
  }
  .navigation__links li {
    text-align: center;
  }
  .navigation__links li a {
    color: white;
    font-size: 24px;
  }
  .navigation__links--shown {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
  .navigation__toggle {
    visibility: visible;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(100%);
    opacity: 1;
  }
}
