.carousel__container {
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.carousel {
  padding-left: 38px;
  grid-column: 1 / span 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: row;
  column-gap: 38px;
}

.carousel__button--left {
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 1;
  border: none;
  width: 60px;
  height: 80px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 48px;
  border-radius: 16px;
}

.carousel__button--right {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
  z-index: 1;
  border: none;
  width: 60px;
  height: 80px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 48px;
  border-radius: 16px;
}

.carousel__button--left:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__button--right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 465px) {
  .carousel {
    padding-left: 0;
  }
}
