.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.framework-list {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.frameworks {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .collection {
    grid-template-columns: 1fr;
  }
}
