.portfolio__hero {
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  padding: 3rem;
}

.portfolio__overlay {
  background-color: transparent;
}

.portfolio__overlay h1 {
  font-size: 5rem;
}

@media (max-width: 800px) {
  .portfolio__overlay h1 {
    font-size: 3rem;
  }
}
